In [36]:
#import all the required libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

In [37]:
#load data set
df_cust = pd.read_csv('..\Data\customer_cleaned.csv')
df_cust["sex"] = df_cust["sex"].replace(["female","male"],[0,1])
print(df_cust.shape)

(1723, 14)

In [38]:
df_cust.head()

,month,credit_amount,credit_term,age,sex,education,product_type,having_children_flg,region,income,family_status,phone_operator,is_client,bad_client_target
0,1,0.006757,0.272727,0.291667,1,Secondary special education,Cell phones,0,2,0.0500,Another,0,0,0
1,1,0.047297,0.090909,0.027778,1,Secondary special education,Household appliances,1,2,0.0400,Another,3,1,0
2,1,0.081081,0.272727,0.069444,0,Secondary special education,Household appliances,0,2,0.0750,Another,2,0,0
3,1,0.016892,0.272727,0.166667,1,Secondary special education,Cell phones,1,2,0.0750,Unmarried,3,1,0
4,1,0.032095,0.272727,0.097222,0,Higher education,Cell phones,0,2,0.0625,Married,0,1,0

#### lets get the categorical variables ready for training

In [39]:
# Assuming 'data' is your DataFrame and 'categorical_column' is the column containing categorical values
data_encoded = pd.get_dummies(df_cust, columns=["education","product_type","region","month","family_status","phone_operator"])

In [40]:
data_encoded.head()

,credit_amount,credit_term,age,sex,having_children_flg,income,is_client,bad_client_target,education_Higher education,education_Incomplete higher education,...,month_11,month_12,family_status_Another,family_status_Married,family_status_Unmarried,phone_operator_0,phone_operator_1,phone_operator_2,phone_operator_3,phone_operator_4
0,0.006757,0.272727,0.291667,1,0,0.0500,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,0.047297,0.090909,0.027778,1,1,0.0400,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,0.081081,0.272727,0.069444,0,0,0.0750,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,0.016892,0.272727,0.166667,1,1,0.0750,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.032095,0.272727,0.097222,0,0,0.0625,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0

In [41]:
data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1723 entries, 0 to 1722
Data columns (total 59 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   credit_amount                               1723 non-null   float64
 1   credit_term                                 1723 non-null   float64
 2   age                                         1723 non-null   float64
 3   sex                                         1723 non-null   int64
 4   having_children_flg                         1723 non-null   int64
 5   income                                      1723 non-null   float64
 6   is_client                                   1723 non-null   int64
 7   bad_client_target                           1723 non-null   int64
 8   education_Higher education                  1723 non-null   uint8
 9   education_Incomplete higher education       1723 non-null   uint8
 10  education_Incomplete secondary education    1723 non-null   uint8
 11  education_PhD degree                        1723 non-null   uint8
 12  education_Secondary education               1723 non-null   uint8
 13  education_Secondary special education       1723 non-null   uint8
 14  product_type_Audio & Video                  1723 non-null   uint8
 15  product_type_Auto                           1723 non-null   uint8
 16  product_type_Boats                          1723 non-null   uint8
 17  product_type_Cell phones                    1723 non-null   uint8
 18  product_type_Childen's goods                1723 non-null   uint8
 19  product_type_Clothing                       1723 non-null   uint8
 20  product_type_Computers                      1723 non-null   uint8
 21  product_type_Construction Materials         1723 non-null   uint8
 22  product_type_Cosmetics and beauty services  1723 non-null   uint8
 23  product_type_Fishing and hunting supplies   1723 non-null   uint8
 24  product_type_Fitness                        1723 non-null   uint8
 25  product_type_Furniture                      1723 non-null   uint8
 26  product_type_Garden equipment               1723 non-null   uint8
 27  product_type_Household appliances           1723 non-null   uint8
 28  product_type_Jewelry                        1723 non-null   uint8
 29  product_type_Medical services               1723 non-null   uint8
 30  product_type_Music                          1723 non-null   uint8
 31  product_type_Repair Services                1723 non-null   uint8
 32  product_type_Sporting goods                 1723 non-null   uint8
 33  product_type_Tourism                        1723 non-null   uint8
 34  product_type_Training                       1723 non-null   uint8
 35  product_type_Windows & Doors                1723 non-null   uint8
 36  region_0                                    1723 non-null   uint8
 37  region_1                                    1723 non-null   uint8
 38  region_2                                    1723 non-null   uint8
 39  month_1                                     1723 non-null   uint8
 40  month_2                                     1723 non-null   uint8
 41  month_3                                     1723 non-null   uint8
 42  month_4                                     1723 non-null   uint8
 43  month_5                                     1723 non-null   uint8
 44  month_6                                     1723 non-null   uint8
 45  month_7                                     1723 non-null   uint8
 46  month_8                                     1723 non-null   uint8
 47  month_9                                     1723 non-null   uint8
 48  month_10                                    1723 non-null   uint8
 49  month_11                                    1723 non-null   uint8
 50  month_12                                    1723 non-null   uint8
 51  family_status_Another                       1723 non-null   uint8
 52  family_status_Married                       1723 non-null   uint8
 53  family_status_Unmarried                     1723 non-null   uint8
 54  phone_operator_0                            1723 non-null   uint8
 55  phone_operator_1                            1723 non-null   uint8
 56  phone_operator_2                            1723 non-null   uint8
 57  phone_operator_3                            1723 non-null   uint8
 58  phone_operator_4                            1723 non-null   uint8
dtypes: float64(4), int64(4), uint8(51)
memory usage: 193.6 KB

In [42]:
# Assuming 'X' contains your features and 'y' contains your labels
X = data_encoded.drop('bad_client_target', axis=1)
y = data_encoded['bad_client_target']

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

#### Train the SVM model

In [45]:
svm_model = SVC(kernel='linear')  # You can choose different kernels like 'rbf', 'poly', etc.
svm_model.fit(X_train, y_train)

SVC(kernel='linear')

#### Make prediction

In [46]:
y_pred = svm_model.predict(X_test)

In [47]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

print('Classification Report:')
print(classification_report(y_test, y_pred))

Accuracy: 0.89
Classification Report:
              precision    recall  f1-score   support

           0       0.89      1.00      0.94       306
           1       0.00      0.00      0.00        39

    accuracy                           0.89       345
   macro avg       0.44      0.50      0.47       345
weighted avg       0.79      0.89      0.83       345

c:\Users\abhij\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\abhij\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\abhij\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))